a .teste{
  display: flex;
  align-items: center;
  justify-content: center;
}
.teste{
  color: red;
  width: 100px;
  height: 20px;
  background-color: rgba(150, 86, 88, 0.4);
  position: absolute;
  top: 100px;
  border-radius: 5%;
  
}


.teste:hover{
  transform: scale(1.3);
}